apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: mlflow-app
  namespace: infra-tools
  labels:
    app.kubernetes.io/name: mlflow
    app.kubernetes.io/component: ml-platform
    environment: dev
spec:
  project: default
  source:
    repoURL: https://github.com/KostiantynMoskalenko/mlflow-helm.git
    path: .
    targetRevision: main
    helm:
      releaseName: mlflow
      valueFiles:
        - values.yaml
  destination:
    server: "https://kubernetes.default.svc"
    namespace: mlflow
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
